* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
/* navbar section */
.newNav {
  padding: 0 20%;
}
.nav-link {
  color: #950ccc;
}
.newNav a {
  font-size: 22px;
}
.form-container{
 padding: 20px;
 width: 300px;
 align-items: center;
  /* text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}
.heading {
  padding: 15px 0;
  color: #183f25;
  background-image: linear-gradient(
    45deg,
    #183f25 30%,
    #950ccc 50%,
    #81ae09 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 32px;
  font-weight: 900;
}
.progress {
  margin: 0 30px;
}
.btns {
  display: flex;
  gap: 30px;
  justify-content: center;
}
.add-btn {
  border-radius: 10px;
  padding: 10px 13px;
  text-align: center;
  background-color: #950ccc;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: none;
  font-size: 18px;
  font-weight: 600;
}
.main{
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
}
.delete-btn{
  border: none;
  background-color: white;
}
.delete-btn i:hover{
  font-size: 20px;
}